.additional-products__title-stripe {
  margin: 0;
  padding-left: 19px;
  padding-right: 23px;
}

.additional-products__additional-list {
  padding-top: 30px;
}

@media (min-width: $tablet-width) {
  .additional-products__title-stripe {
    padding-left: 38px;
    padding-right: 35px;
  }

  .additional-products__additional-list {
    padding-top: 69px;
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    display: flex;
    flex-wrap: wrap;
  }

  .additional-products__title-stripe {
    padding-left: 40px;
    padding-right: 35px;
  }

  .additional-products__centering-device {
    @include centering-device;
    display: flex;
    width: $desktop-width;
    flex-wrap: wrap;
  }

  .additional-products__additional-list {
    width: 956px;
    margin: 0;
    padding-left: 40px;
    padding-right: 21px;
  }
}
