.bonus {
  @include content;
  position: relative;
  display: flex;
  width: 280px;
  height: 289px;
  background-color: $main-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: 39px;
  margin-bottom: 35px;
}

.bonus__text {
  @include Arial(16px, 20px);
  width: 65%;
  text-align: center;
  color: $white-text;
  padding-top: 171px;
  margin-left: auto;
  margin-right: auto;


  &::before {
    position: absolute;
    top: 64px;
    left: 113px;
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    content: "";
  }
}

@media (min-width: $tablet-width) {
  .bonus {
    @include content-tablet;
    width: 708px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 69px;
    margin-bottom: 76px;
  }

  .bonus__text {
    width: 25%;
    text-align: left;
    margin-left: auto;
    margin-right: 92px;
    padding-top: 56px;

    &::before {
      left: 91px;
    }
  }
}

@media (min-width: $desktop-width) {
  .bonus {
    width: 245px;
    height: auto;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-top: 69px;
    margin-left: 58px;
    padding-left: 38px;
    padding-right: 23px;
  }

  .bonus__text {
    width: 99%;
    margin: 0;
    text-align: center;
    padding-top: 187px;

    &::before {
      left: 96px;
    }
  }
}
