.button {
  @include Oswald-uppercase;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;

  &--green {
    color: $white-text;
    background-color: $main-color;

    &:hover,
    &:focus {
      background-color: $button-action;
      outline: none;
    }

    &:active {
      color: rgba($white-text, 0.3);
    }
  }

  &--gray {
    color: $arial-text;
    background-color: $gray-color;

    &:hover,
    &:focus {
      background-color: $gray-button-action;
      outline: none;
    }

    &:active {
      color: rgba($arial-text, 0.3);
    }
  }

  &--index {
    padding: 11px 73px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media (min-width: $tablet-width) {
  .button--index {
    padding: 15px 28px 17px 26px;
    font-size: 20px;
    line-height: 20px;
    max-width: 245px;
  }
}
