.catalog-content {
  @include content;
  border-top: 1px solid $gray-border;
  padding-top: 15px;
}

.catalog-content__title {
  margin: 0;

  @include content-margin;
}

.catalog-content__products-list {
  margin-top: 28px;
}

.catalog-content__additional-products {
  padding-top: 29px;
}
