.catalog-content {
  display: block;
  border-top: 1px solid $gray-border;
  padding-top: 15px;
}

.catalog-content__title {
  @include content;
  padding-left: 20px;
}

.catalog-content__products-list {
  padding-top: 28px;
}

.additional-products__centering-device {
  @include content;
}

.catalog-content__additional-products {
  padding-top: 7px;
}

@media (min-width: $tablet-width) {
  .catalog-content {
    border-top: none;
  }

  .catalog-content__title {
    @include content-tablet;
    padding-left: 30px;
    padding-top: 28px;
  }

  .catalog-content__products-list {
    @include content-tablet;
    @include margin-tablet;
    display: flex;
    flex-wrap: wrap;
  }

  .additional-products__centering-device {
    @include content-tablet;
  }

  .catalog-content__additional-products {
    padding-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-content {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  .catalog-content__title {
    @include content-desktop;
    padding-top: 45px;
    padding-left: 40px;
  }

  .catalog-content__products-list {
    @include content-desktop;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .catalog-content__additional-products {
    padding-top: 54px;
    margin-bottom: 86px;
  }
}
