.catalog-content {
  @include content;
  border-top: 1px solid $gray-border;
  padding-top: 15px;
}

.catalog-content__title {
  margin: 0;
  padding-left: 20px;
}

.catalog-content__products-list {
  margin-top: 28px;
}

.catalog-content__additional-products {
  padding-top: 29px;
}

@media (min-width: $tablet-width) {
  .catalog-content {
    @include content-tablet;
    border-top: none;
  }

  .catalog-content__title {
    padding-left: 30px;
    padding-top: 36px;
  }

  .catalog-content__products-list {
    @include margin-tablet;
    display: flex;
    flex-wrap: wrap;
  }
}
