.contacts {
  z-index: 2;
  display: flex;
  background-color: $gray-color;
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 29px;

  &--index {
    background-color: $white-text;
  }
}

.contacts__dillers {
  @include Oswald-uppercase;
  margin: 0;
  line-height: 20px;
  flex-basis: 50%;
}

.contacts__adress {
  @include Arial (14px, 20px);
  margin: 0;
  flex-basis: 50%;
}

.contacts__adress-street,
.contacts__adress-town {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding: 64px 72px 56px;
  }

  .contacts__dillers {
    font-size: 20px;
    line-height: 25px;
    flex-basis: 25%;
  }

  .contacts__adress {
    font-size: 16px;
    flex-basis: 25%;
  }

  .contacts__adress-street,
  .contacts__adress-town {
    text-align: right;
  }

  .contacts__adress-town {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 40px;
    width: 570px;
    padding: 64px 71px 57px 76px;
    background-color: $white-text;
  }

  .contacts__dillers,
  .contacts__adress {
    flex-basis: 41%;
  }

  .contacts__adress-street,
  .contacts__adress-town {
    text-align: left;
  }
}
