.features__title {
  margin-top: 17px;
}

.features__item {
  position: relative;
}

.features__text {
  @include Arial();
  margin-left: 80px;
  margin-bottom: 26px;

  &::before {
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    content: "";
  }

  &--leaf {
    &::after {
      position: absolute;
      top: 3px;
      left: 5px;
      z-index: 2;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      content: "";
    }
  }

  &--water {
    &::after {
      position: absolute;
      top: 2px;
      left: 5px;
      z-index: 2;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      content: "";
    }
  }

  &--cultery {
    &::after {
      position: absolute;
      top: 3px;
      left: 4px;
      z-index: 2;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      content: "";
    }
  }

  &--weight {
    &::after {
      position: absolute;
      top: 3px;
      left: 5px;
      z-index: 2;
      width: 50px;
      height: 50px;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      content: "";
    }
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 28px;
  }

  .features__title {
    margin-bottom: 0;
  }

  .same-list--notmobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .features__item {
    width: 265px;
    margin-top: 74px;
    padding-bottom: 61px;
    margin-right: 59px;

    &::before {
      position: absolute;
      top: -41px;
      left: 116px;
      z-index: 1;
      display: inline-block;
      font-size: 281px;
      line-height: 281px;
      color: $gray-color;
      counter-increment: myCounter;
      content: counter(myCounter);
      @include Oswald;
    }
  }

  .features__text {
    position: relative;
    z-index: 2;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 110px;
    @include Arial(16px, 24px);

    &::before {
      top: -112px;
      width: 80px;
      height: 80px;
    }

    &--leaf {
      &::after {
        top: -97px;
        left: 15px;
      }
    }

    &--water {
      &::after {
        top: -97px;
        left: 15px;
      }
    }

    &--cultery {
      &::after {
        top: -97px;
        left: 15px;
      }
    }

    &--weight {
      &::after {
        top: -97px;
        left: 15px;
      }
    }
  }
}
