.main-menu--javascript-work {
  display: none;
}

.main-menu--show {
  display: block;
}

.main-menu__navigation {
  @include Oswald-uppercase;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-weight: 500;
}

.main-menu__item {
  border-top: 1px solid $gray-border;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main-menu__link {
  display: block;
  width: 100%;

  &:hover,
  &:focus {
    color: rgba($dark-text, 0.6);
    outline: none;
  }

  &:active {
    color: rgba($dark-text, 0.3);
  }

  &--active,
  &--active-index {
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $dark-text;
    }
  }
}

.main-menu__link-text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-menu--javascript-work {
    display: block;
  }

  .main-menu__navigation {
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    font-weight: 400;
  }

  .main-menu__item {
    border-top: none;
    margin-left: 35px;
    padding-top: 18px;
  }

  .main-menu__link {
    color: $additional-item-title;

    &--active {
      border-bottom: 2px solid $main-color;
      padding-bottom: 8px;
    }

    &--active-index {
      border-bottom: 2px solid $main-color;
      padding-bottom: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-menu__navigation {
    font-size: 20px;
  }

  .main-menu__item {
    padding-top: 20px;
  }

  .main-menu__link--index {
    color: $white-text;

    &:hover,
    &:focus {
      color: rgba($white-text, 0.6);
    }

    &:active {
      color: rgba($white-text, 0.3);
    }
  }

  .main-menu__link--active {
    border-bottom: 2px solid $main-color;
  }

  .main-menu__link--active-index {
    border-bottom: 2px solid $white-text;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      color: $white-text;
    }
  }
}
