.main-content {
  @include content;
}

.main-content__selection-program {
  border-top: 1px solid $gray-border;
}

.main-content__program {
  margin-top: 21px;
}

.main-content__sample {
  margin-top: 46px;
}

@media (min-width: $tablet-width) {
  .main-content {
    @include content-tablet;
  }

  .main-content__selection-program {
    border-top: none;
    padding-top: 16px;
  }

  .main-content__sample {
    position: relative;
    margin-top: 41px;

    &::before {
      position: absolute;
      top: 619px;
      left: 0;
      z-index: 0;
      width: 50%;
      height: 43%;
      background-color: $gray-color;
      content: "";
    }

    &::after {
      position: absolute;
      top: 619px;
      right: 0;
      z-index: 0;
      width: 50%;
      height: 43%;
      background-color: $middle-gray;
      content: "";
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .main-content__program {
    margin-top: -3px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    width: 100%;
    margin: 0;
    max-width: 100%;
    margin-top: -128px;
  }

  .main-content__sample {
    margin-top: 22px;
    padding-bottom: 75px;

    &::before {
      top: 178px;
      width: 76%;
      height: 72%;
    }

    &::after {
      top: 178px;
      left: calc((100% - 1300px) / 2 + 983px);
      width: auto;
      height: 72%;
    }
  }
}
