.main-header {
  @include content;
  padding-top: 13px;
}

.main-header__logo-link {
  display: inline-block;
  margin-bottom: 9px;
  margin-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__sandwich-button {
  margin-left: 61px;
  vertical-align: top;
  margin-top: 7px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .main-header {
    @include content-tablet;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
  }

  .main-header__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .main-header__logo-link {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
  }

  .main-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;

    &--index {
      background-image: linear-gradient(to left, $gradient-color calc(51% - 20px), $white-text 0);
    }
  }

  .main-header__wrapper {
    @include content-desktop;
    @include margin-desktop;
    position: relative;
    z-index: 3;
    padding-top: 53px;
  }

  .main-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
