.main-footer {
  @include content;
  position: relative;
}

.main-footer__contacts {
  padding-bottom: 25px;
}

.main-footer__link:hover {
  opacity: 0.8;
}

.main-footer__link:active {
  opacity: 0.6;
}

.main-footer__references-wrapper {
  padding: 41px 19px 17px 20px;
}

.main-footer__references {
  text-align: center;
  background-color: $gray-color;
  margin-top: -40px;
}

.main-footer__social {
  border-top: 1px solid $black-opacity;
  border-bottom: 1px solid $black-opacity;
  margin-top: 27px;
  padding-top: 22px;
  padding-right: 10px;
  padding-bottom: 17px;
}

.main-footer__copyright {
  display: flex;
  padding-top: 18px;
  justify-content: space-between;
}

.main-footer__copyright-link {
  @include Arial(16px, 16px);
  align-self: center;

  &:active {
    color: rgba($arial-text, 0.3);
  }
}

.main-footer__copyright-logo {
  width: 42px;
  height: 42px;
  margin-right: -8px;

  &:hover .main-footer__htmlacademy-fill {
    fill: $main-color;
  }

  &:active .main-footer__htmlacademy-fill {
    fill: rgba($main-color, 0.3);
  }
}

.main-footer__htmlacademy-fill {
  fill: $image-color;
}

@media (min-width: $tablet-width) {
  .main-footer {
    @include content-tablet;
  }

  .main-footer__references {
    margin-top: 0;
  }

  .main-footer__references-wrapper {
    display: flex;
    padding: 52px 40px 54px;
    justify-content: space-between;
  }

  .main-footer__link {
    margin-top: 9px;
  }

  .main-footer__social {
    border-top: none;
    border-bottom: none;
    margin-top: 0;
  }

  .main-footer__copyright {
    padding-top: 0;
  }

  .main-footer__copyright-logo {
    margin-left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    margin: 0;
    max-width: 100%;
  }

  .main-footer__contacts-wrapper {
    @include content-desktop;
    position: relative;
  }

  .main-footer__references-wrapper {
    @include content-desktop;
  }
}
