.main-content__selection-program {
  border-top: 1px solid $gray-border;
}

.main-content__program {
  margin-top: 21px;
}

.main-content__sample {
  margin-top: 46px;
}

@media (min-width: $tablet-width) {
  .main-content__selection-program {
    border-top: none;
    padding-top: 16px;
  }

  .main-content__sample {
    position: relative;
    margin-top: 41px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .main-content__program {
    margin-top: -3px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }

  .main-content__selection-program {
    margin-top: -128px;
  }

  .main-content__sample {
    margin-top: 22px;
    padding-bottom: 75px;

    &::before {
      position: absolute;
      top: 179px;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 72%;
      background-image: linear-gradient(to right, $gray-color 50%, $middle-gray 50%);
      background-repeat: no-repeat;
      content: "";
    }
  }
}
