.map {
  overflow: hidden;
  width: 100%;
  height: 360px;
  background-color: $map-color;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
  background-size: 320px 400px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
  }
}

// .map__image {
//   overflow: hidden;
//   width: 320px;
//   height: 400px;
//   background-image: url("../img/bg-map-mobile@1x.png");
//   background-repeat: no-repeat;
//   background-position: 0 -38px;
//   background-size: 320px 400px;

//   @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
//     background-image: url("../img/bg-map-mobile@2x.png");
//   }
// }

.map__badge {
  position: relative;

  &::before {
    position: absolute;
    top: 138px;
    right: 128px;
    width: 60px;
    height: 55px;
    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: 55px 53px;
    content: "";
  }
}

@media (min-width: $tablet-width) {
  .map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: 0 -3px;
    background-size: 768px 400px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  .map__badge::before {
    top: 146px;
    right: 320px;
    width: 125px;
    height: 110px;
    background-size: 122px 106px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    margin: 0 auto;
    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: top 0 center;
    background-size: 1440px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-top: -130px;
    }
  }

  .map__badge {
    @include content-desktop;

    &::before {
      top: 150px;
      right: 240px;
    }
  }
}
