.program {
  padding: 20px;
  background-color: $gray-color;

  &--slim {
    position: relative;

    &::before {
      position: absolute;
      top: 23px;
      left: 30px;
      z-index: 2;
      width: 40px;
      height: 55px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 35px 50px;
      content: "";
    }
  }

  &--pro {
    position: relative;

    &::before {
      position: absolute;
      top: 35px;
      left: 13px;
      z-index: 2;
      width: 70px;
      height: 30px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 67px 28px;
      content: "";
    }
  }
}

.program__title {
  @include Oswald-uppercase;
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  margin-top: 10px;
  margin-left: 71px;

  &::before {
    position: absolute;
    top: -6px;
    left: -70px;
    width: 50px;
    height: 50px;
    background-color: $main-color;
    border-radius: 50%;
    content: "";
  }
}

.program__content {
  @include Arial();
  border-bottom: 1px solid $black-opacity;
  padding-bottom: 22px;
  margin-top: 29px;
}

.program__link {
  @include Oswald-uppercase;
  position: relative;
  display: flex;
  margin-top: 19px;

  &::after {
    position: absolute;
    top: 3px;
    left: 96px;
    width: 30px;
    height: 15px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 25px 12px;
    content: "";
  }

  &:hover::after,
  &:focus::after {
    left: 132px;
    width: 40px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 34px 12px;
  }

  &:active {
    color: rgba($dark-text, 0.3);

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .program {
    padding: 76px 60px 62px 53px;

    &--slim::before {
      top: 80px;
      left: 476px;
      width: 141px;
      height: 194px;
      background-size: 141px 194px;
    }

    &--pro::before {
      top: 134px;
      left: 412px;
      width: 268px;
      height: 113px;
      background-size: 268px 113px;
    }
  }

  .program__title {
    margin: 0;
    font-size: 36px;

    &::before {
      top: 16px;
      left: 394px;
      width: 200px;
      height: 200px;
    }
  }

  .program__content {
    @include Arial(16px, 24px);
    border-bottom: none;
    max-width: 344px;
    margin-top: 25px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
    margin-top: 34px;

    &::after {
      top: 4px;
      left: 128px;
    }

    &:hover::after {
      left: 128px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    padding: 43px 48px 62px 52px;

    &--slim {
      margin-right: 80px;

      &::before {
        top: 41px;
        left: 65px;
        width: 71px;
        height: 97px;
        background-size: 71px 97px;
      }
    }

    &--pro::before {
      top: 68px;
      left: 34px;
      width: 134px;
      height: 57px;
      background-size: 134px 57px;
    }
  }

  .program__title {
    font-size: 36px;
    margin-top: 33px;
    margin-left: 162px;

    &::before {
      top: -29px;
      left: -162px;
      width: 100px;
      height: 100px;
    }
  }

  .program__content {
    @include Arial(16px, 24px);
    border-bottom: none;
    margin-top: 74px;
    margin-bottom: 0;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
    margin-top: 9px;

    &::after {
      top: 4px;
      left: 129px;
    }
  }
}
