.questionnaire-form {
  @include Oswald-uppercase;
  padding-top: 25px;
}

.questionnaire-form__inquirer {
  @include content;
  @include content-margin;
}

.questionnaire-form__row {
  position: relative;
  display: flex;
  margin: 0;

  &--introductory {
    margin-bottom: 14px;
  }

  &--cat-owner {
    margin-top: 14px;
  }
}

.questionnaire-form__label {
  color: $additional-item-title;
  align-self: center;

  &--radio {
    cursor: pointer;
    word-break: break-word;

    &::before {
      position: absolute;
      top: 6px;
      left: -1px;
      width: 30px;
      height: 30px;
      border: 1px solid $sample-border;
      border-radius: 50%;
      content: "";
    }
  }

  &--checkbox {
    cursor: pointer;
    word-break: break-word;

    &::before {
      position: absolute;
      top: 6px;
      left: 20px;
      width: 30px;
      height: 30px;
      border: 1px solid $sample-border;
      content: "";
    }
  }
}

.questionnaire-form__input {
  height: 45px;
  color: $arial-text;
  border: 1px solid rgba($sample-border, 0.5);
  padding-left: 15px;
  padding-right: 12px;
  margin-left: 14px;
  text-transform: inherit;
  flex-grow: 1;

  &:hover {
    border: 1px solid $sample-border;
  }

  &:focus {
    border: 1px solid $arial-text;
    box-shadow:
      inset 1px 1px $arial-text,
      inset -1px -1px $arial-text;
    outline: none;
  }

  &:focus + .questionnaire-form__element {
    fill: $main-color;
  }

  &:required:invalid {
    border: 1px solid $input-error;
    box-shadow:
      inset 1px 1px $input-error,
      inset -1px -1px $input-error;
  }

  &:required:invalid + .questionnaire-form__element {
    fill: $input-error;
  }

  &--email {
    padding-right: 40px;
    margin-left: 11px;
  }

  &--tel {
    overflow: hidden;
    width: 206px;
    padding-right: 40px;
    margin-left: 9px;
  }
}

.questionnaire-form__cell-radio:checked + .questionnaire-form__label--radio::after {
  position: absolute;
  top: 15px;
  left: 8px;
  width: 12px;
  height: 12px;
  background-color: $main-color;
  border-radius: 50%;
  content: "";
}

.questionnaire-form__cell-radio:disabled + .questionnaire-form__label--radio {
  opacity: 0.3;
  cursor: auto;

  &::before {
    opacity: 0.6;
  }

  &::after {
    opacity: 0.3;
  }
}

.questionnaire-form__cell-checkbox:checked + .questionnaire-form__label--checkbox::after {
  position: absolute;
  top: 14px;
  left: 25px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  content: "";
}

.questionnaire-form__cell-checkbox:disabled + .questionnaire-form__label--checkbox {
  opacity: 0.3;
  cursor: auto;

  &::before {
    opacity: 0.6;
  }

  &::after {
    opacity: 0.3;
  }
}

.questionnaire-form__textarea {
  padding: 12px 9px 9px 15px;
  color: $arial-text;
  border: 1px solid rgba($sample-border, 0.5);
  margin-left: 20px;
  margin-right: 20px;
  text-transform: inherit;
  flex-grow: 1;

  &:hover {
    border: 1px solid $sample-border;
  }

  &:focus {
    border: 1px solid $arial-text;
    box-shadow:
      inset 1px 1px $arial-text,
      inset -1px -1px $arial-text;
    outline: none;
  }
}

.questionnaire-form__program-wrapper {
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  margin-top: 23px;
}

.questionnaire-form__program {
  @include content;
  padding: 14px 20px 14px;
}

.questionnaire-form__item {
  position: relative;
  padding-top: 12px;
  padding-bottom: 13px;

  &--checkbox {
    padding-left: 66px;
    padding-right: 20px;
  }

  &--radio {
    padding-left: 45px;
  }
}

.questionnaire-form__cell-radio:not(:disabled) + .questionnaire-form__label--radio:active,
.questionnaire-form__cell-checkbox:not(:disabled) + .questionnaire-form__label--checkbox:active {
  opacity: 0.3;

  &::before {
    border: 1px solid $input-action;
  }
}

.questionnaire-form__cell-radio:not(:disabled) + .questionnaire-form__label--radio:hover,
.questionnaire-form__cell-checkbox:not(:disabled) + .questionnaire-form__label--checkbox:hover {
  &::before {
    border: 1px solid $input-action;
  }
}

.questionnaire-form__cell-radio:not(:disabled):focus + .questionnaire-form__label--radio::before,
.questionnaire-form__cell-checkbox:not(:disabled):focus + .questionnaire-form__label--checkbox::before {
  border: 1px solid $input-action;
  outline:
    thin dotted,
    5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.questionnaire-form__cat-owner {
  padding-top: 4px;
}

.questionnaire-form__cat-owner-wrapper {
  @include content;
  @include content-margin;
  padding-top: 42px;
}

.questionnaire-form__element {
  position: absolute;
  top: 15px;
  right: 13px;
  fill: $additional-item-title;
}

.questionnaire-form__comment {
  margin-top: 5px;
}

.questionnaire-form__textarea-wrapper {
  @include content;
  padding-top: 33px;
}

.questionnaire-form__more-products {
  margin-top: 5px;
}

.questionnaire-form__checkbox {
  @include content;
  padding-top: 27px;
}

.questionnaire-form__wrapper-end {
  @include content;
  @include content-margin;
}

.questionnaire-form__button {
  width: 280px;
  margin-top: 26px;
  cursor: pointer;
}

.questionnaire-form__text {
  @include Arial(14px, 16px);
  text-align: center;
  text-transform: none;
  margin-top: 21px;
  margin-bottom: 34px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // если так прописать сразу, то в хром, сафари и фф применяется двойное opacity и от label и от ::before
  .questionnaire-form__cell-radio:not(:disabled) + .questionnaire-form__label--radio:active,
  .questionnaire-form__cell-checkbox:not(:disabled) + .questionnaire-form__label--checkbox:active {
    &::before {
      border: 1px solid $input-action;
      opacity: 0.3;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

@supports (-ms-ime-align:auto) {
  // если так прописать сразу, то в хром, сафари и фф применяется двойное opacity и от label и от ::before
  .questionnaire-form__cell-radio:not(:disabled) + .questionnaire-form__label--radio:active,
  .questionnaire-form__cell-checkbox:not(:disabled) + .questionnaire-form__label--checkbox:active {
    &::before {
      opacity: 0.3;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .questionnaire-form {
    padding-top: 46px;
  }

  .questionnaire-form__inquirer {
    @include content-tablet;
    @include margin-form;
  }

  .questionnaire-form__row {
    &--introductory {
      margin-bottom: 20px;
    }

    &--cat-owner {
      margin-top: 20px;
    }
  }

  .questionnaire-form__label {
    font-size: 20px;
    line-height: 20px;

    &--radio::before {
      width: 40px;
      height: 40px;
    }

    &--checkbox::before {
      width: 40px;
      height: 40px;
    }
  }

  .questionnaire-form__input {
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 12px;
    margin-left: 19px;

    &--email {
      padding-right: 50px;
      margin-left: 20px;
      padding-left: 20px;
    }

    &--tel {
      padding-right: 50px;
      margin-left: 14px;
      padding-left: 19px;
    }
  }

  .questionnaire-form__cell-radio:checked + .questionnaire-form__label--radio::after {
    top: 17px;
    left: 10px;
    width: 18px;
    height: 18px;
  }

  .questionnaire-form__cell-checkbox:checked + .questionnaire-form__label--checkbox::after {
    top: 18px;
    left: 30px;
  }

  .questionnaire-form__textarea {
    padding: 15px 18px 17px;
    font-size: 20px;
    line-height: 20px;
  }

  .questionnaire-form__program-wrapper {
    @include content-tablet;
    @include margin-form;
    border-top: none;
    border-bottom: none;
    margin-top: 72px;
  }

  .questionnaire-form__program {
    width: 100%;
    margin: 0;
    padding: 18px 28px 17px;
    border: 1px solid rgba($sample-border, 0.5);
  }

  .questionnaire-form__item {
    padding-top: 15px;
    padding-bottom: 17px;

    &--radio {
      padding-left: 58px;
    }

    &--checkbox {
      width: 50%;
      padding-left: 77px;
      padding-bottom: 25px;
      margin-bottom: 11px;
    }
  }

  .questionnaire-form__cat-owner {
    padding-top: 59px;
  }

  .questionnaire-form__cat-owner-wrapper {
    @include content-tablet;
    @include margin-form;
    padding-top: 47px;
  }

  .questionnaire-form__element {
    top: 19px;
    right: 19px;
  }

  .questionnaire-form__comment {
    padding-top: 44px;
  }

  .questionnaire-form__textarea-wrapper {
    @include content-tablet;
    padding-left: 51px;
    padding-right: 47px;
    padding-top: 66px;
  }

  .questionnaire-form__more-products {
    padding-top: 45px;
  }

  .questionnaire-form__checkbox {
    @include content-tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 41px;
    padding-right: 29px;
  }

  .questionnaire-form__button {
    font-size: 20px;
    margin-left: 71px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
  }

  .questionnaire-form__wrapper-end {
    @include content-tablet;
    display: flex;
    padding: 28px 0 73px;
  }

  .questionnaire-form__text {
    margin: 0;
    font-size: 16px;
    align-self: center;
    margin-left: 63px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire-form {
    padding-top: 46px;
  }

  .questionnaire-form__combiner {
    @include content-desktop;
    display: flex;
    flex-wrap: wrap;
  }

  .questionnaire-form__inquirer,
  .questionnaire-form__program-wrapper {
    @include margin-desktop;
    width: 50%;
  }

  .questionnaire-form__program-wrapper {
    margin-top: 0;
  }

  .questionnaire-form__program {
    margin: 0;
  }

  .questionnaire-form__cat-owner {
    padding-top: 34px;
  }

  .questionnaire-form__cat-owner-wrapper {
    @include content-desktop;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-top: 46px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .questionnaire-form__row--cat-owner {
    @include margin-desktop;
    width: 650px;
  }

  .questionnaire-form__input--email {
    margin-left: 23px;
    padding-left: 17px;
  }

  .questionnaire-form__input--tel {
    margin-left: 16px;
    padding-left: 17px;
  }

  .questionnaire-form__element {
    top: 19px;
    right: 59px;
  }

  .questionnaire-form__comment {
    padding-top: 47px;
  }

  .questionnaire-form__input--textarea {
    margin-right: 0;
    margin-left: 0;
  }

  .questionnaire-form__textarea-wrapper {
    @include content-desktop;
    @include margin-desktop;
    padding-top: 66px;
  }

  .questionnaire-form__textarea {
    margin-right: 0;
    margin-left: 0;
  }

  .questionnaire-form__more-products {
    padding-top: 46px;
  }

  .questionnaire-form__checkbox {
    @include content-desktop;
    padding-left: 20px;
    padding-top: 42px;
  }

  .questionnaire-form__item--checkbox {
    min-width: 22%;
    max-width: 276px;
  }

  .questionnaire-form__wrapper-end {
    @include content-desktop;
    padding-top: 34px;
    padding-left: 41px;
    padding-bottom: 83px;
  }

  .questionnaire-form__button {
    width: 568px;
    margin-left: 0;
  }

  .questionnaire-form__text {
    margin-left: 82px;
  }
}
