.questionnaire-form {
  @include Oswald-uppercase;
  padding-top: 25px;
}

.questionnaire-form__inquirer {
  padding-left: 19px;
  padding-right: 20px;
}

.questionnaire-form__row {
  position: relative;
  display: flex;
  margin-top: 0;
  margin-bottom: 13px;
}

.questionnaire-form__label {
  color: $additional-item-title;
  align-self: center;

  &--radio {
    margin-left: 45px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 6px;
      left: -1px;
      width: 30px;
      height: 30px;
      border: 1px solid $sample-border;
      border-radius: 50%;
      content: "";
    }
  }

  &--checkbox {
    margin-left: 66px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 6px;
      left: 20px;
      width: 30px;
      height: 30px;
      border: 1px solid $sample-border;
      content: "";
    }
  }
}


.questionnaire-form__input {
  padding: 13px 12px 13px 15px;
  color: $arial-text;
  border: 1px solid rgba($sample-border, 0.5);
  margin-left: 16px;
  text-transform: inherit;
  flex-grow: 1;

  &:hover {
    border: 1px solid $sample-border;
  }

  &:focus {
    border: 1px solid $arial-text;
    box-shadow:
      inset 1px 1px $arial-text,
      inset -1px -1px $arial-text;
    outline: none;
  }

  &:focus + .questionnaire-form__element {
    fill: $main-color;
  }

  &--error {
    border: 1px solid $input-error;
    box-shadow:
      inset 1px 1px $input-error,
      inset -1px -1px $input-error;
  }

  &--error + .questionnaire-form__element {
    fill: $input-error;
  }

  &--radio:checked + .questionnaire-form__label--radio::after {
    position: absolute;
    top: 15px;
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: $main-color;
    border-radius: 50%;
    content: "";
  }

  &--email {
    padding-right: 40px;
    margin-left: 11px;
  }

  &--tel {
    padding-right: 40px;
    margin-left: 9px;
  }

  &--checkbox:checked + .questionnaire-form__label--checkbox::after {
    position: absolute;
    top: 14px;
    left: 25px;
    width: 22px;
    height: 17px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    content: "";
  }

  &--textarea {
    padding-left: 15px;
    padding-right: 9px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 9px;
  }
}

.questionnaire-form__program {
  padding: 13px 20px 14px;
  border: 1px solid $gray-light;
  margin-top: 23px;
}

.questionnaire-form__item {
  position: relative;
  padding-top: 12px;
  padding-bottom: 13px;

  &:hover > .questionnaire-form__label--radio::before {
    border: 1px solid $input-action;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover > .questionnaire-form__label--checkbox::before {
    border: 1px solid $input-action;
  }
}

.questionnaire-form__cat-owner {
  padding-top: 4px;
}

.questionnaire-form__title-stripe {
  top: 23px;
  margin: 0;
  text-transform: none;
  padding-left: 19px;
  padding-right: 21px;

  &--cat-owner {
    padding-bottom: 60px;
  }

  &--comment {
    padding-bottom: 37px;
  }

  &--more {
    padding-bottom: 31px;
  }
}

.questionnaire-form__cat-owner-wrapper {
  @include content-margin;
}

.questionnaire-form__element {
  position: absolute;
  top: 15px;
  right: 14px;
  fill: $additional-item-title;
}

.questionnaire-form__comment {
  margin-top: -9px;
}

.questionnaire-form__more-products {
  margin-top: -9px;
}

.questionnaire-form__button {
  width: 282px;
  margin-left: 20px;
  margin-top: 26px;
}

.questionnaire-form__text {
  @include Arial(14px, 16px);
  text-align: center;
  text-transform: none;
  margin-top: 21px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .questionnaire-form {
    padding-top: 45px;
  }

  .questionnaire-form__inquirer {
    @include margin-form;
  }

  .questionnaire-form__row {
    margin-bottom: 19px;
  }

  .questionnaire-form__label {
    font-size: 20px;
    line-height: 20px;

    &--radio {
      margin-left: 58px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }

    &--checkbox {
      margin-left: 78px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }
  }

  .questionnaire-form__input {
    padding: 10px 12px 11px 15px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 19px;

    &--radio:checked + .questionnaire-form__label--radio::after {
      top: 17px;
      left: 10px;
      width: 18px;
      height: 18px;
    }

    &--email {
      padding-right: 50px;
      margin-left: 20px;
      padding-left: 20px;
    }

    &--tel {
      padding-right: 50px;
      margin-left: 14px;
      padding-left: 19px;
    }

    &--textarea {
      padding-bottom: 17px;
      padding-top: 15px;
      padding-left: 18px;
    }

    &--checkbox:checked + .questionnaire-form__label--checkbox::after {
      top: 18px;
      left: 30px;
    }
  }

  .questionnaire-form__program-wrapper {
    @include margin-form;
  }

  .questionnaire-form__program {
    padding: 18px 28px 17px;
    margin-top: 72px;
    border-color: rgba($sample-border, 0.5);
  }

  .questionnaire-form__item {
    padding-top: 15px;
    padding-bottom: 17px;

    &--checkbox {
      padding-bottom: 36px;
      min-width: 50%;
    }
  }

  .questionnaire-form__cat-owner {
    padding-top: 59px;
  }

  .questionnaire-form__title-stripe {
    top: 17px;
    padding-left: 40px;
    padding-right: 43px;
  }

  .questionnaire-form__cat-owner-wrapper {
    @include margin-form;
    padding-top: 22px;
  }

  .questionnaire-form__element {
    top: 19px;
    right: 20px;
  }

  .questionnaire-form__comment {
    margin-top: 0;
    padding-top: 30px;
  }

  .questionnaire-form__textarea-wrapper {
    padding-left: 51px;
    padding-right: 47px;
    padding-top: 46px;
  }

  .questionnaire-form__more-products {
    margin-top: 0;
    padding-top: 30px;
  }

  .questionnaire-form__checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 27px;
    padding-right: 29px;
  }

  .questionnaire-form__button {
    font-size: 20px;
    margin-left: 71px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0;
  }

  .questionnaire-form__wrapper-end {
    display: flex;
    padding-top: 27px;
    padding-bottom: 73px;
  }

  .questionnaire-form__text {
    margin: 0;
    font-size: 16px;
    align-self: center;
    margin-left: 63px;
  }
}

@media (min-width: $desktop-width) {
  .questionnaire-form {
    padding-top: 45px;
  }

  .questionnaire-form__combiner {
    @include content-desktop;
    display: flex;
    flex-wrap: wrap;
  }

  .questionnaire-form__inquirer,
  .questionnaire-form__program-wrapper {
    @include margin-desktop;
    width: 50%;
  }

  .questionnaire-form__title-stripe {
    @include margin-desktop;
  }

  .questionnaire-form__program {
    margin: 0;
  }

  .questionnaire-form__cat-owner {
    padding-top: 34px;
  }

  .questionnaire-form__cat-owner-wrapper {
    @include content-desktop;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .questionnaire-form__row--cat-owner {
    @include margin-desktop;
    flex-basis: 50%;
  }

  .questionnaire-form__input--email {
    margin-left: 23px;
    padding-left: 17px;
  }

  .questionnaire-form__input--tel {
    margin-left: 16px;
    padding-left: 17px;
  }

  .questionnaire-form__element {
    top: 19px;
    right: 59px;
  }

  .questionnaire-form__comment {
    padding-top: 32px;
  }

  .questionnaire-form__input--textarea {
    margin-right: 0;
    margin-left: 0;
  }

  .questionnaire-form__textarea-wrapper {
    @include content-desktop;
    @include margin-desktop;
  }

  .questionnaire-form__more-products {
    padding-top: 51px;
  }

  .questionnaire-form__checkbox {
    @include content-desktop;
    padding-left: 20px;
  }

  .questionnaire-form__item--checkbox {
    min-width: 22%;
  }

  .questionnaire-form__wrapper-end {
    @include content-desktop;
    padding-top: 34px;
    padding-left: 41px;
    padding-bottom: 83px;
  }

  .questionnaire-form__button {
    width: 568px;
    margin-left: 0;
  }

  .questionnaire-form__text {
    margin-left: 82px;
  }
}
