.sample {
  background-color: $gray-color;
  padding-top: 17px;
  padding-bottom: 37px;
}

.sample__title {
  margin: 0;
}

.sample__text {
  @include Arial();
  padding-top: 10px;
}

.sample__result {
  position: relative;
  display: flex;
  text-align: center;
  margin-top: 24px;
}

.sample__field {
  @include Oswald-uppercase;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $sample-border;
  border-radius: 3px;
  min-width: 124px;
}

.sample__field--weight {
  padding: 13px 40px 17px;
  margin-right: 32px;
}

.sample__field--time {
  padding: 13px 20px 14px;
}

.sample__property-small {
  @include Arial(12px, 12px);
  width: 87px;
  height: 21px;
  background-color: $gray-color;

  &--weight {
    position: absolute;
    bottom: -24px;
    left: 18px;
    padding-left: 16px;
    padding-right: 17px;
  }

  &--time {
    position: absolute;
    right: 19px;
    bottom: -24px;
    padding-left: 16px;
    padding-right: 17px;
  }
}

.sample__waste {
  @include Oswald-uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: 34px;
}

.sample__slider {
  margin-top: 33px;
}

@media (min-width: $tablet-width) {
  .sample {
    background-color: $white-text;
    border-top: 1px solid $gray-border;
    padding-bottom: 61px;
  }

  .sample__title {
    margin-top: 26px;
  }

  .sample__text {
    @include Arial(16px, 24px);
    margin-top: 54px;
  }

  .sample__wrapper-result {
    display: flex;
    margin-top: 53px;
  }

  .sample__result {
    width: 70%;
    margin-top: 0;
    margin-right: 0;
    flex-grow: 1;
  }

  .sample__field {
    font-size: 30px;
    line-height: 37px;

    &--weight {
      padding: 15px 56px 18px;
      margin-right: 42px;
    }

    &--time {
      padding: 14px 29px 17px;
    }
  }

  .sample__property-small {
    @include Arial(14px, 14px);
    background-color: $white-text;

    &--weight {
      bottom: -26px;
      left: 24px;
      width: 114px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &--time {
      right: 172px;
      bottom: -26px;
      width: 142px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .sample__waste {
    width: 180px;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    margin-top: 9px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .sample {
    position: relative;
    border-top: none;
    padding-bottom: 0;
  }

  .sample__title {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 75px;
  }

  .sample__background {
    background-color: $gray-color;
    padding-bottom: 75px;
  }

  .sample__flex-box {
    display: flex;
    @include content-desktop;
  }

  .sample__text {
    margin-top: 61px;
  }

  .sample__wrapper-result {
    display: block;
    margin-top: 0;
  }

  .sample__result {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    padding-top: 52px;
  }

  .sample__property-small {
    background-color: $gray-color;

    &--time {
      right: 75px;
    }
  }

  .sample__waste {
    width: 100%;
    line-height: 20px;
    text-align: left;
    margin-top: 60px;
    white-space: pre;
  }

  .sample__slider {
    position: absolute;
    top: -87px;
    right: 62px;
    width: 50%;
  }
}
