.selection-program {
  position: relative;
  text-align: center;
  background: linear-gradient(to bottom, #68b738 63%, #ffffff 0%);
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px auto;
  padding-bottom: 41px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.selection-program__title {
  margin-top: 27px;
}

.selection-program__tagline {
  @include Oswald-uppercase;
  font-size: 14px;
  line-height: 14px;
  color: $white-text;
  margin-bottom: 29px;
}

.selection-program__image {
  width: 280px;
  height: 270px;
}

@media (min-width: $tablet-width) {
  .selection-program {
    position: relative;
    background-image: none;
    padding-bottom: 0;
  }

  .selection-program__tagline {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $dark-text;
    margin-top: 41px;
    margin-left: 88px;
    margin-bottom: 20px;
  }

  .selection-program__image {
    width: 709px;
    height: 609px;
  }

  .selection-program__button {
    position: absolute;
    top: 280px;
    left: 119px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    background: linear-gradient(to right, $white-text 0%, $main-color 0%);
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: calc(49% + 373px) 0;
    background-size: 720px 696px;
    padding-bottom: 41px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .selection-program__wrapper {
    display: flex;
    padding-bottom: 50px;
  }

  .selection-program__wrapper-title {
    position: relative;
    margin-top: 179px;
  }

  .selection-program__tagline {
    margin-left: 80px;
  }

  .selection-program__image {
    width: 552px;
    height: 499px;
    margin-top: 126px;
    margin-left: -44px;
  }
}
