.selection-program {
  position: relative;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 41px;
}

.selection-program__title {
  margin-top: 27px;
}

.selection-program__tagline {
  @include Oswald-uppercase;
  font-size: 14px;
  line-height: 14px;
  color: $white-text;
  margin-bottom: 29px;
}

@media (min-width: $tablet-width) {
  .selection-program {
    position: relative;
    background-image: none;
    padding-bottom: 0;
  }

  .selection-program__tagline {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $dark-text;
    margin-top: 41px;
    margin-left: 88px;
    margin-bottom: 20px;
  }

  .selection-program__image {
    width: 709px;
    height: 609px;
  }

  .selection-program__button {
    position: absolute;
    top: 280px;
    left: 119px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: calc(50% + 359px) 0;
    background-size: 720px 696px;
    padding-bottom: 41px;
  }

  .selection-program__wrapper {
    display: flex;
    padding-bottom: 50px;
  }

  .selection-program__wrapper-title {
    position: relative;
    margin-top: 171px;
  }

  .selection-program__tagline {
    margin-left: 80px;
  }

  .selection-program__image {
    width: 552px;
    height: 499px;
    margin-top: 118px;
    margin-left: -44px;
  }
}
