.selection-program {
  position: relative;
  text-align: center;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, $gradient-color 305px, $white-text 0%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size:
    320px auto,
    auto auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/index-background-mobile@2x.jpg"),
      linear-gradient(to bottom, $gradient-color 305px, $white-text 0%);
  }
}

.selection-program__title {
  margin-top: 27px;
}

.selection-program__tagline {
  @include Oswald-uppercase;
  position: relative;
  z-index: 2;
  font-size: 14px;
  line-height: 14px;
  color: $white-text;
  margin-bottom: 29px;
}

.selection-program__wrapper {
  position: relative;
}

.selection-program__image {
  position: absolute;
  top: 140px;
  left: 20px;
  width: 280px;
  height: 270px;
}

.selection-program__button {
  margin-top: 303px;
}

@media (min-width: $tablet-width) {
  .selection-program {
    background-image: none;
  }

  .selection-program__tagline {
    position: relative;
    z-index: 2;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $dark-text;
    margin-top: 41px;
    margin-left: 88px;
    margin-bottom: 20px;
  }

  .selection-program__image {
    top: 200px;
    left: 29px;
    width: 709px;
    height: 609px;
  }

  .selection-program__button {
    position: relative;
    z-index: 2;
    margin-top: 48px;
    max-width: 245px;
    margin-left: 88px;
  }
}

@media (min-width: $desktop-width) {
  .selection-program {
    background-image:
      url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, $gradient-color 49%, $white-text 49%);
    background-repeat: no-repeat;
    background-position:
      calc(50% + 360px) 0,
      top 0 left 0;
    background-size:
      720px 696px,
      auto auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image:
        url("../img/index-background-desktop@2x.jpg"),
        linear-gradient(to left, $gradient-color 49%, $white-text 49%);
      background-position:
        calc(50% + 360px) 0,
        top 0 left 0;
    }
  }

  .selection-program__wrapper {
    display: flex;
    padding-bottom: 50px;
  }

  .selection-program__wrapper-title {
    position: relative;
    margin-top: 179px;
  }

  .selection-program__tagline {
    margin-left: 80px;
    max-width: 410px;
  }

  .selection-program__image {
    position: static;
    width: 552px;
    height: 499px;
    margin-top: 126px;
    margin-left: -44px;
  }

  .selection-program__button {
    margin-top: 53px;
    margin-left: 80px;
  }
}
