.slider__fat-cat {
  display: none;
  height: 240px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 320px auto;
  }
}

.slider__thin-cat {
  display: none;
  height: 240px;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
    background-size: 320px auto;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  padding-left: 5px;
}

.slider__band {
  @include Oswald-uppercase;
  cursor: pointer;
}

.slider__indication-toggle {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $white-text;
  border: 1px solid $sample-border;
  border-radius: 6px;
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 16px;
  align-self: center;

  &::before {
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $main-color;
    border-radius: 3px;
    content: "";
  }
}

.slider__slide-1:checked ~ .slider__wrapper-image .slider__fat-cat,
.slider__slide-2:checked ~ .slider__wrapper-image .slider__thin-cat {
  display: block;
}

.slider__slide-1:checked ~ .slider__controls .slider__indication-toggle::before {
  left: 4px;
}

.slider__slide-2:checked ~ .slider__controls .slider__indication-toggle::before {
  right: 4px;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    z-index: 1;
    padding-top: 39px;
    padding-left: 45px;
    padding-right: 33px;
  }

  .slider__wrapper-image {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .slider__fat-cat,
  .slider__thin-cat {
    position: absolute;
    overflow: hidden;
  }

  .slider__fat-cat {
    top: 0;
    left: 0;
    display: block;
    width: 49%;
    height: 520px;
    background-image: url("../img/before-tablet@1x.png");
    background-position: left top;
    background-size: 690px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .slider__thin-cat {
    top: 0;
    right: 0;
    display: block;
    width: 51%;
    height: 520px;
    background-image: url("../img/after-tablet@1x.png");
    background-position: right top;
    background-size: 690px auto;

     @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
    }
  }

  .slider__controls {
    margin-top: 14px;
    padding-top: 514px;
  }

  .slider__band {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    margin-right: 17px;
    padding-top: 4px;
    cursor: default;
  }

  .slider__indication-toggle {
    width: 428px;
    height: 6px;
    background-color: $slider-indication;
    border: none;
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 19px;

    &::before {
      width: 34px;
      height: 34px;
      background-color: $white-text;
      border: 1px solid $sample-border;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    }

    &::after {
      position: absolute;
      top: -1px;
      left: 210px;
      width: 8px;
      height: 8px;
      background-color: $main-color;
      border-radius: 50%;
      content: "";
      cursor: pointer;
    }
  }

  .slider__slide-1:checked ~ .slider__controls .slider__indication-toggle::before {
    top: -14px;
    left: 197px;
  }

  .slider__slide-2:checked ~ .slider__controls .slider__indication-toggle::before {
    top: -14px;
    right: 197px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-right: 0;
    padding-left: 38px;
  }

  .slider__fat-cat {
    top: -276px;
    left: 44px;
    width: 365px;
    height: 499px;
    background-image: url("../img/before-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .slider__thin-cat {
    top: -276px;
    right: -40px;
    width: 325px;
    height: 517px;
    background-image: url("../img/after-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
    }
  }

  .slider__band {
    margin-left: 19px;
    margin-right: 0;
  }

  .slider__controls {
    padding-left: 104px;
    padding-top: 259px;
  }

  .slider__indication-toggle {
    margin-left: 23px;
    margin-right: 3px;
  }

  .slider__slide-1:checked ~ .slider__controls .slider__indication-toggle::before {
    left: 198px;
  }

  .slider__slide-2:checked ~ .slider__controls .slider__indication-toggle::before {
    left: 198px;
  }

  .slider__indication-toggle::after {
    left: 211px;
  }
}
