.slider__fat-cat {
  display: none;
  height: 240px;
  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
    background-size: 320px auto;
  }
}

.slider__thin-cat {
  display: none;
  height: 240px;
  background-image: url("../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/after-mobile@2x.png");
    background-size: 320px auto;
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  padding-left: 5px;
}

.slider__band {
  @include Oswald-uppercase;
  cursor: pointer;
}

.slider__indication-toggle {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: $white-text;
  border: 1px solid $sample-border;
  border-radius: 6px;
  padding-top: 3px;
  margin-left: 20px;
  margin-right: 16px;
  align-self: center;

  &::before {
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $main-color;
    border-radius: 3px;
    content: "";
  }
}

.slider__round-toggle {
  display: none;
}

.slider__slide-1:checked ~ .slider__wrapper-image .slider__fat-cat,
.slider__slide-2:checked ~ .slider__wrapper-image .slider__thin-cat {
  display: block;
}

.slider__slide-1:checked ~ .slider__wrapper-image .slider__indication-toggle::before {
  left: 4px;
}

.slider__slide-2:checked ~ .slider__wrapper-image .slider__indication-toggle::before {
  right: 4px;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
    z-index: 1;
    padding-top: 51px;
  }

  .slider__wrapper-image {
    padding-left: 12px;
    padding-bottom: 69px;
  }

  .slider__fat-cat {
    display: none;
    height: 520px;
    background-image: url("../img/before-tablet@1x.png");
    background-position: center top;
    background-size: 690px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .slider__thin-cat {
    display: none;
    height: 520px;
    background-image: url("../img/after-tablet@1x.png");
    background-position: center top;
    background-size: 690px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-tablet@2x.png");
    }
  }

  .slider__slide-1:checked ~ .slider__wrapper-image {
    background-image: linear-gradient(to bottom, $white-text 27%, $gray-color 27%);
  }

  .slider__slide-2:checked ~ .slider__wrapper-image {
    background-image: linear-gradient(to bottom, $white-text 27%, $middle-gray 27%);
  }

  .slider__slide-1:checked ~ .slider__wrapper-image .slider__round-toggle {
    left: 0;
    transition-duration: 1s;
    transition-property: left;
    transition-timing-function: linear;
  }

  .slider__slide-2:checked ~ .slider__wrapper-image .slider__round-toggle {
    left: 394px;
    transition-duration: 1s;
    transition-property: left;
    transition-timing-function: linear;
  }

  .slider__slide-1:focus ~ .slider__wrapper-image .slider__band--left {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .slider__slide-2:focus ~ .slider__wrapper-image .slider__band--right {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  .slider__controls {
    margin-top: 12px;
  }

  .slider__band {
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    margin-right: 17px;
    padding-top: 4px;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider__indication-toggle {
    width: 428px;
    height: 6px;
    background-color: $slider-indication;
    border: none;
    border-radius: 3px;
    margin-left: 7px;
    margin-right: 19px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .slider__round-toggle {
    position: absolute;
    top: -15px;
    display: block;
    width: 34px;
    height: 34px;
    background-color: $white-text;
    border: 1px solid $sample-border;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: $main-color;
      border-radius: 50%;
      cursor: pointer;
      content: "";
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 1px solid $main-color;
      box-shadow:
        inset 0 0 0 1px $main-color,
        0 4px 5px 0 rgba(0, 0, 0, 0.3);
      outline: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-right: 0;
    padding-left: 38px;
    padding-top: 55px;
  }

  .slider__wrapper-image {
    position: relative;
    padding-right: 40px;
  }

  .slider__fat-cat {
    position: absolute;
    top: -190px;
    left: 28px;
    width: 690px;
    height: 499px;
    background-image: url("../img/before-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .slider__thin-cat {
    position: absolute;
    top: -190px;
    right: 0;
    width: 690px;
    height: 517px;
    background-image: url("../img/after-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/after-desktop@2x.png");
    }
  }

  .slider__band {
    margin-left: 19px;
    margin-right: 0;
  }

  .slider__controls {
    padding-left: 77px;
    padding-top: 364px;
  }

  .slider__indication-toggle {
    margin-left: 23px;
    margin-right: 3px;
  }

  .slider__slide-1:checked ~ .slider__wrapper-image {
    background-color: $gray-color;
    background-image: none;
  }

  .slider__slide-2:checked ~ .slider__wrapper-image {
    background-color: $middle-gray;
    background-image: none;
  }

  .slider__indication-toggle::after {
    left: 211px;
  }
}
