.wrapper {
  @include content;
  @include content-margin;
}

// @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//   // в ie11 дети от родителя не наследуют
//   .wrapper {
//     width: inherit;
//     margin: inherit;
//   }
// }

@media (min-width: $tablet-width) {
  .wrapper {
    @include content-tablet;
    @include margin-tablet;
  }

  .wrapper__program {
    margin-top: 533px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    @include margin-desktop;
    @include content-desktop;
  }

  .wrapper__program {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .wrapper__sample {
    position: relative;
    width: 40%;
    margin: 0;
    padding: 0;
    padding-right: 60px;
  }
}
