$main-color: #68b738;

$gray-color: #f2f2f2;

$white-text: #ffffff;

$black-opacity: rgba(0, 0, 0, 0.1);

$dark-text: #111111;

$arial-text: #444444;

$gray-border: #e6e6e6;

$button-action: #5eaa2f;

$sample-border: #cdcdcd;

$image-color: #666666;

$gray-light: #ededed;

$gray-button-action: #ebebeb;

$additional-item-title: #222222;

$input-error: #ff8282;

$input-action: #bababa;

$map-color: #fdf7f0;

$slider-indication: #dcdcdc;

$middle-gray: #eaeaea;

$gradient-color: #64a73b;
