.button {
  @include Oswald-uppercase;
  display: block;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 11px;

  &--green {
    font-size: 14px;
    color: $white-text;
    background-color: $main-color;

    &:hover,
    &:focus {
      background-color: $button-action;
    }

    &:active {
      color: rgba($white-text, 0.3%);
    }
  }

  &--gray {
    line-height: 20px;
    background-color: $gray-color;
  }
}
