$main-color: #68b738;

$gray-color: #f2f2f2;

$white-text: #ffffff;

$black-opacity: rgba(0, 0, 0, 0.1);

$dark-text: #111111;

$arial-text: #444444;

$gray-border: #e6e6e6;

$button-action: #5eaa2f;

$sample-border: #cdcdcd;

$image-color: #666666;

