.contacts {
  z-index: 2;
  display: flex;
  background-color: $gray-color;
  align-content: space-between;

  &--index {
    background-color: $white-text;
  }
}

.contacts__dillers {
  @include Oswald-uppercase;
  margin: 0;
  line-height: 20px;
}

.contacts__adress {
  @include Arial (, 20px);
  margin: 0;
  margin-left: 25px;
}
