*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
}

.main-header,
.main-content,
.main-footer {
  margin: auto;
  max-width: 320px;
}
