.main-header {
  padding-top: 11px;
}

.main-header__logo-link {
  display: inline-block;
  max-width: 191px;
  max-height: 39px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.main-header__logo {
  height: 100%;
  max-width: 100%;
}

.main-header__sandwich-button {
  margin-left: 61px;
  vertical-align: top;
  margin-top: 7px;
  margin-right: 20px;
}
