@mixin button {
  padding: 0;
  border: none;
  cursor: pointer;
}

@mixin content-margin {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin Oswald {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $dark-text;
}

@mixin Oswald-uppercase {
  @include Oswald;
  text-transform: uppercase;
}

@mixin Arial {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $arial-text;
}

