@import "fonts";
@import "normalize";
@import "global";
@import "mixins";
@import "color";
@import "main-header";
@import "sandwich-button";
@import "same-list";
@import "visual-hidden";
@import "link";
@import "main-menu";
@import "main-content";
@import "selection-program";
@import "wrapper";
@import "title";
@import "button";
@import "program";
@import "features";
@import "sample";
@import "slider";
@import "main-footer";
@import "contacts";
@import "social";
