@import "global/fonts";
@import "global/normalize";
@import "global/global";
@import "global/variables";
@import "global/color";
@import "global/mixins";
@import "blocks/main-header";
@import "blocks/sandwich-button";
@import "blocks/same-list";
@import "blocks/visual-hidden";
@import "blocks/link";
@import "blocks/main-menu";
@import "blocks/main-content";
@import "blocks/selection-program";
@import "blocks/wrapper";
@import "blocks/title";
@import "blocks/button";
@import "blocks/program";
@import "blocks/features";
@import "blocks/sample";
@import "blocks/slider";
@import "blocks/main-footer";
@import "blocks/contacts";
@import "blocks/map";
@import "blocks/social";
@import "blocks/catalog-content";
@import "blocks/product";
@import "blocks/additional-products";
@import "blocks/title-stripe";
@import "blocks/additional-item";
@import "blocks/bonus";
@import "blocks/form-content";
@import "blocks/questionnaire-form";
