.title-stripe {
  @include Oswald;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 3px;

  &::after {
    position: relative;
    right: -24px;
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: $main-color;
    content: "";
    vertical-align: middle;
    margin-right: -100%;
  }
}
